.hiden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}

/*common*/
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px)  {
    .container {
            max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
    }

        /*header*/

.page-header-start {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}



.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

 .nav-list,
 .contacts {
    display: none;
 }

 .logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     /* line-height: 21px; */
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     display: flex;
     justify-content: center;
 }
 .logo-color {
     color: #2e2f42;
 }
 .header-logo {
    padding: 16px 0;
    display: block;
 }

 .burger-btn {
 padding: 0;
 border: none;
 background-color: transparent;
 }

 .burger-icon {
    fill: #2f2f37;
    display: block;
 }

 @media screen and (min-width: 768px) {
    .burger-btn {
            display: none;
        } 
        
        .header-logo {
                     padding: 24px 0;
                     margin-right: 120px;
                 }
 
        .nav-list {
            font-weight: 500;
            font-size: 16px;
            /* line-height: 24px; */
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #2e2f42;
            display: flex;
            gap: 40px;
            align-items: center;
        }

        .nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between; }

                .list-header.active {
                    color: #404bbf;
                    position: relative;
                }
        
                .list-header.active::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 4px;
                    background-color: #404bbf;
                    border-radius: 2px;
        
                }
          .list-header {
              color: #2e2f42;
              display: block;
              padding: 24px 0;
              transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
    
          .list-header:hover,
          .list-header:focus {
              color: #404bbf;
          }

        .contacts {
            font-style: normal;
            display: block;
        }

         .address {
                    font-weight: 400;
                    font-size: 12px;
                    font-style: normal;
                    /* line-height: 24px; */
                    line-height: 1.17;
                    letter-spacing: 0.04em;
                    color: #434455;
                    padding: 24px 0;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
       
          .address:hover,
          .address:focus {
              color: #404bbf;
          }

          .contact-mail-tel {
              font-style: normal;
              display: flex;
              flex-direction: column;
              gap: 12px;
    
          }
 }
 
 
 @media screen and (min-width: 1158px) {
     .header-logo {
         margin-right: 76px;
 }

  .contact-mail-tel {
      flex-direction: row;
      gap: 40px;
      align-items: center;
      
  }

  .address {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
      padding: 24px 0;
    
  }

}

/*mobile-menu*/
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
    
 .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;

    opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .mobile-menu.is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }
          .mobile-menu-container {
              position: relative;
              padding-top: 72px;
              padding-bottom: 40px;
    
              display: flex;
              flex-direction: column;
              height: 100%;
          }
    
          .mobile-menu-close {
            position: absolute;
                top: 24px;
                right: 24px;
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                background-color: transparent;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 50%;
            
                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
          }
           
            .close-icon-menu {
            fill: #2e2f42;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
          .mobile-menu-nav {
              margin-bottom: auto;
          }
             
                  .nav-list-menu {
                    font-weight: 700;
                        font-size: 36px;
                    
                        /* line-height: 40px; */
                        line-height: 1.11111;
                        letter-spacing: 0.02em;
                        color: #2e2f42;
                  }

                   .list-header-menu {
       color: #2e2f42; 
       display: block;
       padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 .contact-mail-tel-menu {
     font-style: normal;
     display: flex;
     flex-direction: column;
     gap: 24px;
     margin-bottom: 48px;

 }

        .address-menu {
font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
            font-style: normal;
            padding: 24px 0;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
                .active {
                    color: #404bbf;
                
                }

                .svg-contact-all-menu {
      display: flex;
      gap: 40px;
    

  }

  .svg-contact-menu {
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center
       ;
        
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
        
      }
          .svg-contact-menu svg {
              fill: #f4f4fd;
          }
      .svg-contact-menu use {
    display: block;
    width: 16px;
   height: 16px;

      } 

          .svg-contact-menu{
            overflow:visible;
          }

@media screen and (min-width: 768px) {
                      .mobile-menu {
                          display: none;
                      }
                      
                  }

        /*header*/        

.section-head-page {

    padding-top: 72px;
    padding-bottom: 72px;

    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url("../images/back-mob.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media  screen and (max-width: 767px) and (min-resolution: 192dpi) {
    .section-head-page {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/back-mob2.jpg");
    }
}

@media screen and (min-width: 768px) {
    .section-head-page {
        padding-top: 112px;
        padding-bottom: 112px;

        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/back-tab.jpg");
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .section-head-page {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/back-tab2.jpg");
    }
}
@media screen and (min-width: 1158px) {
    .section-head-page {
        padding-top: 188px;
        padding-bottom: 188px;

        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url("../images/people-office1.jpg");
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section-head-page {
        background-image:
            linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url("../images/people-office2x.jpg");
    }
}
   .header-page {
    font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 216px;
            margin: 0 auto 72px;
   }

   .header-page-button {
       font-family: "Roboto", sans-serif;
       font-weight: 500;
       font-size: 16px;
       /* line-height: 24px; */
       line-height: 1.5;
       letter-spacing: 0.04em;
       color: #ffffff;
       background-color: #4D5AE5;
       min-width: 169px;
       padding: 16px 32px;
       border-radius: 4px;
       display: block;
       margin: 0 auto;

       text-align: center;
       cursor: pointer;
       min-width: 169px;
       border: none;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
       box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);

   }

   @media screen and (min-width: 768px){
    .header-page {
            font-weight: 700;
                font-size: 56px;
                /* line-height: 60px; */
                line-height: 1.07143;
                letter-spacing: 0.02em;
                text-align: center;
                color: #fff;
            max-width: 496px;
            margin: 0 auto 36px;
    
    
        }
   }
@media screen and (min-width: 1158px) {
    .header-page {
margin: 0 auto 48px;}

.header-page-button:hover,
.header-page-button:focus {
    background-color: #404BBF;
}

button {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover,
button:focus {
    background-color: #404BBF;

}
 }

.first-list {
    display: flex;
        flex-direction: column;
        align-items: stretch;
}


.svg-adv {
    display: none;
}

.section-advantages {
    padding-top: 96px;
    padding-bottom: 96px;

}

.advantages {
    display: flex;
    flex-direction: column;
    gap: 72px;
    
}
 .list-advantages-title {
    font-weight: 700;
        font-size: 36px;
    
        /* line-height: 40px; */
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
 }



.list-text {
    font-weight: 500;
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    
    
}
/*tablet adv*/
@media screen and (min-width: 768px) {
    
    .advantages {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        
    }

    .first-list {
        width: calc((100% - 24px) / 2);
    }

    .list-advantages-title {
        text-align: left;
        
    }
}

/*десктоп адв*/
@media screen and (min-width: 1158px) {
   .section-advantages {
        padding-top: 120px;
        padding-bottom: 120px;

    }

    .advantages {
        display: flex;
        justify-content: space-between;
        display: flex;
        gap: 24px;

    }

    .svg-adv {
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        background: #f4f4fd;
        margin-bottom: 8px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .first-list {
        width: calc((100% - 72px) / 4);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .list-text {
        font-weight: 400;
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;




    }

    .shadow-text {
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    }

    .list-advantages-title {
        font-weight: 500;
        font-size: 20px;
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;

    }

}

/*team*/
.container-team {
    padding: 32px 16px;
    text-align: center;
}

.section-back-team {
    background-color: #f4f4fd;

    min-width: 100%;
    padding: 96px 0;
}

.section-team-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    /* line-height: 40px; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;

}

.section-list-team {
    background-color: #FFFFFF;
    flex-direction: column;
    border: 264px 380px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: 264px;


}

.list-team {
display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.section-list-team h3 {
    font-weight: 500;
    font-size: 20px;
    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;


}

.section-list-team p {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}

.svg-contact-all {
    display: flex;
    justify-content: center;
    gap: 24px;


}

.svg-contact {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;

}

.svg-contact svg {
    fill: #f4f4fd;
}

.svg-contact use {
    display: block;
    width: 16px;
    height: 16px;

}

.svg-contact {
    overflow: visible;
}

/*tablet team*/

@media screen and (min-width: 768px) {
.section-back-team {
        padding-top: 96px;
        padding-bottom: 96px;
    }
        .list-team {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 64px 24px;
            padding-left: 108px;
            padding-right: 108px;
           
        }

    .section-list-team {
        width: calc((100% - 24px) / 2);
       
       
}
}
/*desktop team*/

@media screen and (min-width: 1158px) {

    .container-team {
        padding: 32px 16px;
        text-align: center;
    }

    .section-back-team {
        background-color: #f4f4fd;

        min-width: 100%;
        padding: 120px 0;
    }

    .section-team-title {
        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        /* line-height: 40px; */
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 72px;

    }

    .section-list-team {
        background-color: #FFFFFF;
        flex-direction: column;
        border: 264px 380px;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
        width: 264px;


    }

    .list-team {
        display: flex;
            padding-left: 0;
            padding-right: 0;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 24px;
    }

    .section-list-team h3 {
        font-weight: 500;
        font-size: 20px;
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;


    }

    .section-list-team p {
        font-weight: 400;
        font-size: 16px;

        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
    }

    .svg-contact-all {
        display: flex;
        justify-content: center;
        gap: 24px;


    }

    .svg-contact {
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        ;

    }

    .svg-contact svg {
        fill: #f4f4fd;
    }

    .svg-contact use {
        display: block;
        width: 16px;
        height: 16px;

    }

    .svg-contact {
        overflow: visible;
    }

    .svg-contact:hover,
    .svg-contact:focus {
        background-color: #404bbf;
        }  }