body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul { list-style-type: none;
margin: 0;
padding-left: 0;
}

a { text-decoration: none;}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1,h2, h3,h4, p {
    margin: 0;
}

img{
    display: block;
}

.container {
    width:100%; 
    max-width: 1158px;
    padding-left: 15px ;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
}
main {
    flex-grow: 1;
}
 
.nav-link:hover,
.nav-link:focus {
    color:#404bbf;;
}
 .page-header-start .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:baseline;
    }
    
  
 .page-header-start {border-bottom: 1px solid #e7e9fc;

 }
 .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;}
        
.logo{
    font-family: "Raleway", sans-serif;
font-weight: 700;
    font-size: 18px;
    /* line-height: 21px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
     color: #4d5ae5; 
     display: flex;
    margin-right: 76px;
    justify-content: center;

    }

    .logo-color{
        color:#2e2f42;
    } 

    .nav-list{
    font-weight: 500;
        font-size: 16px;
        /* line-height: 24px; */
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: flex;
        gap: 40px;
        align-items: center;
      }
        
      .nav-link{ display: flex;
        align-items: center;
       justify-content: space-between;
   
        
}
       .list-header {
       color: #2e2f42; 
       display: block;
       padding: 24px 0;
    }
           .list-header:hover,
          .list-header:focus {color:#404bbf ;}
          
 .address {font-weight: 400;
    font-size: 16px;
    font-style: normal;
    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;   
}

    .list-header {padding: 24px 0;
    }


.address:hover,
.address:focus {
    color: #404bbf;;
}

 .contact-mail-tel{
    font-style: normal;
    display: flex;
    gap: 40px;

}

 .section-head-page { 
    background-image:
    linear-gradient(rgba(46, 47, 66, 0.7)),
    url("../images/people-office\ 1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    padding-top: 188px;
    padding-bottom: 188px;
 }

 .header-page {
    font-weight: 700;
    font-size: 56px;
    /* line-height: 60px; */
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    margin:0 auto 48px;


}

.header-page-button {
    font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-size: 16px;
     /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.04em;
     color: #ffffff;
    background-color: #4D5AE5;
    width: 169px;
    height: 56px;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
    min-width: 169px;
    border: none;
    
        
}



button{ cursor: pointer;

}

button:hover,
button:focus       {
    background-color: #404BBF
}

.section-advantages {
    padding-top: 120px;
 padding-bottom: 120px;

}
.advantages    {
    display: flex;
    justify-content: space-between;
    display: flex;
        gap: 24px;

}
.svg-adv{border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
display: flex;
    justify-content: center;
    align-items: center;

}

.first-list {
    width: calc((100% - 72px) / 4);
}
        .list-text {
                font-weight: 400;
                font-size: 16px;
                /* line-height: 24px; */
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455; 
    
        
        }

       .list-advantages-title {font-weight: 500;
        font-size: 20px;
        /* line-height: 24px; */
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;  
        margin-bottom: 8px;
    
 }

      .section-back-team {
        background-color: #f4f4fd;
        height: 780px;
        min-width: 100%;
        padding: 120px 0;
        }

        .section-team-title {
                text-transform: capitalize;
                font-weight: 700;
                font-size: 36px;
               /* line-height: 40px; */
                line-height: 1.11;
                letter-spacing: 0.02em;
                text-align: center;
                color: #2e2f42;
                margin-bottom: 72px;

        }
        .section-list-team{
            background-color: #FFFFFF;
            flex-direction: column;
            border: 264px 380px; 
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
                background: #fff;
                width: 264px;
               
                
        }
         .list-team {
            display: flex;
            gap: 24px;
            justify-content: center;
         }
            .section-list-team h3 {
                font-weight: 500;
                    font-size: 20px;
                    /* line-height: 24px; */
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #2e2f42; 
                    margin-bottom: 8px;
                    margin-top: 32px;
                   
            }
                    
         .section-list-team p {
                font-weight: 400px;
                font-size: 16px;
            
                /* line-height: 24px; */
                line-height: 1.5;
                letter-spacing: 0.02em;
                text-align: center;
                color: #434455;
                margin-bottom: 8px;
        }
  .svg-contact-all {
      display: flex;
      justify-content: center;
      padding-bottom: 32px;
      gap: 24px;
    

  }

  .svg-contact {
        width: 40px;
        height: 40px;
        background-color: #4D5AE5;
        border-radius: 50%;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        fill: #ffffff;
       
        
      }
      .svg-contact use {
    fill: #ffffff;
    display: block;
    width: 16px;
   height: 16px;

      } 
          .svg-contact{
            overflow:visible;
          }
        .svg-contact:hover {
            background-color: #31D0AA;

        }
      
  
      .section-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;
      }
     
      .list-portfolio-items{

        width: calc((100% - 48px) / 3);
                    

      }
       .section-portfolio-start {
            text-transform: capitalize;
            font-weight: 700;
            font-size: 36px;
            /* line-height: 40px; */
            line-height: 1.11;
            letter-spacing: 0.02em;
            text-align: center;
            color: #2e2f42;
            
            margin-bottom: 72px; 
       }
           .portfolio-item-container {
               padding: 32px 16px;
               border: 1px solid #e7e9fc;
               border-top: none;
            overflow: hidden; }

            
           .list-portfolio{
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            row-gap: 48px;
            list-style: none;
            padding: 0;
           }
                        .list-hidden:hover {
                            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
                        }
                  .list-hidden:hover .hidden-item {
                    transform: translateY(0);
                  } 
                 .list-hidden { position: relative;
            
                    overflow: hidden;
                 }

              .hidden-item {
                font-weight: 400;
                    font-size: 16px;
                    /* line-height: 24px; */
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    color: #f4f4fd;
                    background-color: #4d5ae5;
                   position: absolute;
                   left: 0;
                   top: 0 ;
                   width: 360px;
                   height: 300px; 
                    transform: translateY(100%);

              }
           

           .list-portfolio-one {
            font-weight: 500;
            font-size: 20px;
            /* line-height: 24px; */
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
           

           
    }

             .list-portfolio-text {
        font-weight: 400;
            font-size: 16px;
            /* line-height: 24px; */
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
    }

        .footer-page {
            background-color: #2e2f42;
            min-width: 100%;
            padding-top: 100px;
            padding-bottom: 100px; 
           
            
        }
     .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        

     }
        
        .item-location {
           display: flex;

            flex-direction: column;
           justify-content: flex-start;
            
        }
    .logo-footer {font-family:
            "Raleway", sans-serif;
        color: #4d5ae5;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 16px;}
    
    
     .logo-color-footer{color:#f4f4fd ;}
       
      .text-footer {font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            /* line-height: 24px; */
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            width: 264px;
            margin:0;
           
            
      } 
      .socials-footer {
display: flex;
flex-direction: column;
padding-right:550px ;

      }

        .media-footer{
            font-weight: 500;
                font-size: 16px;
            
                /* line-height: 24px; */
                line-height: 1.5;
                letter-spacing: 0.02em;
                color: #fff;
                    margin-bottom: 16px;
        }
        .svg-contact-footer{
        width: 40px;
            height: 40px;
            background-color: #4D5AE5;
            border-radius: 50%;
            padding: 8px;
            display: flex;
            
            
            fill: #ffffff;

        }

                 .svg-contact-footer use {
                     fill: #ffffff;
                     display: block;
                     width: 24px;
                     height: 24px;
        
                 }
        
                 .svg-contact-footer {
                     overflow: visible;
                 }
        
                 .svg-contact-footer:hover {
                     background-color: #31D0AA;
        
                 }
                .svg-footer {
                    display: flex;
                    gap: 16px;
      
                }        